.list__wrapper{
    display: flex;
    flex-direction: column;
}

.item__wrapper{
    display: flex;
    flex-direction: row;
    border: 1px solid #e5e5e5;
    padding: 15px;
    margin: 10px 0;
    height: 100%;
}

.item__image{
    height: 250px;
}

.item__image img{
    height: 100%;
}


.item__wrapper h3{
    margin-bottom: 0;
    display: inline;
}

.item__detail{
    margin: auto 1.5rem;
}

.item__detail p{
    text-align: justify;
}

.item__detail p.year{
    margin-top: 0;
}

.item__wrapper .score{
    vertical-align: top;
}