.movie__container {
  min-height: 100vh;
  margin: 4rem 20rem;
}

.movie__header {
  width: 100%;
}

.movie__content {
  /* margin-left: 40px; */
  width: 100%;
}

.movie__wrapper {
  display: flex;
  flex-direction: row;
}

.movie__sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-width: 250px;
  max-width: 250px;
  min-height: 100vh;
  margin-right: 40px;
}
.movie__sidebar img {
  width: 200px;
}

.movie__info__small {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 35rem;
  padding: 25px 20px;
  margin-bottom: 50px;
}

.movie__info__small__content {
  margin: 0 40px;
}

.container__center {
  margin: 0 auto;
}

.sticky {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

.movie__detail {
  padding: 20px;
}

.movie ul {
  margin: 0;
  font-size: 14px;
  padding: 0;
  list-style-type: none;
}

.movie li {
  display: flex;
  flex-wrap: wrap;
}

.movie li{
  margin: 1rem 0;
}

.movie li > strong {
  width: 100px;
  max-width: 35%;
}

.movie li > span {
  max-width: 65%;
  display: inline-flex;
  align-items: center;
}

.movie__box {
  padding: 20px;
  width: 100%;
}

.sinopsis__toggle {
  display: none;
}

.sinopsis__toggle.toggled {
  display: inline;
}

.sinopsis__readmore {
  display: inline;
}
.sinopsis__readmore.toggled {
  display: none;
}

.movie__pemain__card {
  display: flex;
  margin-right: 10px;
  min-width: 250px;
  max-width: 250px;
  min-height: 330px;
  position: relative;
  display: block;
  margin-bottom: 0.75rem;
  background-color: #fff;
  margin: 20px;
}

.movie__pemain__image {
  min-height: 175px;
  max-height: 175px;
  overflow: hidden;
}

.movie__pemain__image img {
  width: 100%;
  height: 260px;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.movie__pemain__detail {
  padding: 10px 20px;
}

.movie__pemain__wrapper {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  flex-wrap: wrap;
}
