@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
    box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Roboto', sans-serif;
}

.container__wrapper {
  background-color: #5e72e4;
  height: 400px;
  width: 100%;
}

.container {
  min-height: 100vh;
  margin: 0 20rem;
  margin-top: 3rem !important;
}

.container__content {
  margin: 10px 20px 0 20px;
}

.card {
  background-color: #fff;
  box-shadow: 0 0 2rem 0 rgb(136 152 170 / 15%);
  padding: 40px;
  border-radius: 20px;
}

a {
  text-decoration: unset !important;
  color: #00273d !important;
}

a:hover {
  color: #007ec7 !important;
  cursor: pointer;
}

.btn{
  padding: 7px 12px;
  color: #fff !important;
  text-decoration: unset !important;
}

.btn:hover{
  cursor: pointer;
  color: #fff !important;
}

.btn-primary {
  background: #5c4ac7;
  border: 1px solid #5c4ac7;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transition: 0.2s ease-in;
}

.btn-primary:hover{
  background: #5c4ac7;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;    
  border: 1px solid #5c4ac7;
}

.btn-secondary{
  background: #1976d2;
  border: 1px solid #1976d2;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;    
  transition: 0.2s ease-in;
}

.btn-secondary:hover{
  background: #1976d2;
  border: 1px solid #1976d2;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.btn-danger{
  background: #ef5350;
  border: 1px solid #ef5350;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transition: 0.2s ease-in;
}

.btn-danger:hover{
  background: #ef5350;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border: 1px solid #ef5350;
}

.back{
  margin: 40px 0;
}

.nav > .nav__item {
  margin: 20px 0;
}

.text-center {
  text-align: center !important;
}

.text-justify {
  text-align: justify;
}

.border-right {
  border-right: 1px solid #000;
}

.border-left {
  border-left: 1px solid #000;
}

.box-shadow {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 15px;

}

.m-1 {
  margin: 0.5rem;
}
.m-2 {
  margin: 2.5rem;
}
.m-3 {
  margin: 3.5rem;
}
.m-4 {
  margin: 4.5rem;
}
.m-5 {
  margin: 5.5rem;
}

.m-auto {
  margin: auto;
}

.mt-1 {
  margin-top: 0.5rem;
}
.mt-2 {
  margin-top: 2.5rem;
}
.mt-3 {
  margin-top: 3.5rem;
}
.mt-4 {
  margin-top: 4.5rem;
}
.mt-5 {
  margin-top: 5.5rem;
}

.mb-1 {
  margin-bottom: 0.5rem;
}
.mb-2 {
  margin-bottom: 2.5rem;
}
.mb-3 {
  margin-bottom: 3.5rem;
}
.mb-4 {
  margin-bottom: 4.5rem;
}
.mb-5 {
  margin-bottom: 5.5rem;
}

.ml-1 {
  margin-left: 0.5rem;
}
.ml-2 {
  margin-left: 2.5rem;
}
.ml-3 {
  margin-left: 3.5rem;
}
.ml-4 {
  margin-left: 4.5rem;
}
.ml-5 {
  margin-left: 5.5rem;
}

.page-header h4::after{
  content: " ";
  width: 100%;
  border-bottom: 1px solid #212121;
  height: 5px;
  display: block;
}


.input-group{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    border: 1px solid #e5e5e5;
}

.input-group-prepend{
    display: flex;
    margin-right: 1rem;
}
.input-group-text{
    margin: auto;
    margin-left: 1rem;
}

input.form-control {
    width: 100%;
    height: 50px;
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    min-width: 0;
    margin-bottom: 0;
    border:none !important;
}

input:focus{
    outline: none !important;
}

ul.page {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul.page li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  border: 1px solid #dee2e6;
  color: #000;
  border-radius: 100%;
  width: 36px;
  height: 36px;
  box-shadow: rgba(145, 142, 165, 0.1) 0px 20px 25px -5px, rgba(145, 142, 165, 0.4) 0px 10px 10px -5px;
}

ul.page li:hover{
  background-color: #6e59e6;
}

ul.page a, ul.page p {
  color: #000 !important;
  padding: 6px 12px;
  line-height: 1.428571429;
  margin: 0;
}

ul.page li.active{
  color: #fff !important;
  background-color: #5c4ac7;

}
ul.page li.active a, ul.page li:hover a{
  color: #fff !important;
}

.pagination{
  width: 100%;
  display: flex;
  flex-direction: row;
}

.pagination ul {
  margin-left: auto !important;
} 

table {
  border-collapse: collapse;
}

table th {
  padding: 20px 0;
  color: #000;
  background-color: #fff;
}

table tr:hover{
  background-color: #e4e4e4;
}

table tr:nth-child(even){
  background-color: #F5F5F5;
}

table tr:nth-child(even):hover{
  background-color: #e4e4e4;
}

table td, table tr, table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.nav ul {
  text-align: right;
  list-style-type: none;
}

.nav li {
  padding: 10px 16px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
}

.nav li a{
  font-weight: 600;
    color: #5c4ac7 !important;
}

.nav li a:hover{
    color: #5e72e4 !important;
}

.nav-flex{
  margin: 5px 20rem;
  justify-content: space-between;
  align-items: center;
  display: flex;
  flex-direction: row;
  min-width: 100vh;
}

.nav{
  border-bottom: 1px solid #ccc;
  position: relative;
  z-index: 1000;
  background-color: #fff;
  width:100%;
}

.nav h3 {
  margin: 0;
  padding: 0;
  color: #5c4ac7;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 3rem;
  padding: 1rem 5rem;
  background-color: #fff;
  border-top: 1px solid #ccc;
}

.views{
  display:flex;
  flex-direction: column;
  text-align: right;
}

.views p {
  margin: 0;
  padding: 0;
}

.views ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
}

.views ul > li {
  margin: 0 10px;
}

.text-right{
  text-align: right;
}

.admin-controll > a{
  margin: 0 5px;
}